*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
.main-content{
    width: 1170px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 30px;
    background: #2E80CE;
    text-align: center;
    color: #FFF;
    font-size: 1.8rem;
}

.btn:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
}

/* Header */
.header{
    padding-top: 22px;
    background: #10375C;
}

.header.fixed{
    position: sticky;
    top: -22px;
    z-index: 999;
}

.header__body{
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header__navbar ul{
    margin-left: 318px;
    display: flex;
}

.header__navbar li{
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 21px;
}

.header li a,
.header__log-in-btn{
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.header li:hover a,
.header li.active a,
.header__log-in-btn:hover{
    color: #FFF;
    text-shadow: 0.5px 0 0 currentColor;
}

.header li.active::before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: #FFF;
    border-radius: 50%;
    left: 7px;
}

.header__cta{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__cta .header__sign-up-btn{
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
    margin-left: 28px;
}

/* Hero */
.hero{
    padding: 66px 0 110px;
    background: #10375C;
    color: #FFF;
}

.hero__body{
    display: flex;
}

.hero__content{
    width: 45%;
    margin-right: 113px;
}

.hero__title{
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.014rem;
}

.hero__subtitle{
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__cta{
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 0 38px;
}

.hero__phone{
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__media{
    display: flex;
    align-items: center;
}

.hero__image{
    width: 330px;
    height: 540px;
    object-fit: cover;
}

.hero__image:first-child{
    z-index: 1;
    border-radius: 6px;
}

.hero__image:last-child{
    width: 210px;
    height: 410px; 
    margin-left: -6px;
    border-radius: 0px 6px 6px 0px;
}
