*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Common */
.main-content{
    width: 1170px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    border-radius: 30px;
    background: #2E80CE;
    text-align: center;
    color: #FFF;
    font-size: 1.8rem;
}

.btn:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
}

.heading.lv1{
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.014rem;
}

.heading.lv2{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.01em;
}

.desc.lv1{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.desc.lv2{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.desc.lv3{
    font-size: 1.4rem;
    font-weight: 300;
}

.chervon-left{

}

/* Header */
.header{
    padding-top: 22px;
    background: #10375C;
}

.header.fixed{
    position: sticky;
    top: -22px;
    z-index: 999;
}

.header__body{
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header__navbar ul{
    margin-left: 318px;
    display: flex;
}

.header__navbar li{
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 21px;
}

.header li a,
.header__log-in-btn{
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.header li:hover a,
.header li.active a,
.header__log-in-btn:hover{
    color: #FFF;
    text-shadow: 0.5px 0 0 currentColor;
}

.header li.active::before{
    position: absolute;
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: #FFF;
    border-radius: 50%;
    left: 7px;
}

.header__cta{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__cta .header__sign-up-btn{
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
    margin-left: 28px;
}

/* Hero */
.hero{
    padding: 66px 0 110px;
    background: #10375C;
    color: #FFF;
}

.hero__body{
    display: flex;
}

.hero__content{
    width: 45%;
    margin-right: 113px;
}

.hero__subtitle{
    margin-top: 22px;
    color: #C9D2DA;
}

.hero__cta{
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 0 38px;
}

.hero__phone{
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
}

.hero__media{
    display: flex;
    align-items: center;
}

.hero__image{
    width: 330px;
    height: 540px;
    object-fit: cover;
}

.hero__image:first-child{
    z-index: 1;
    border-radius: 6px;
}

.hero__image:last-child{
    width: 210px;
    height: 410px; 
    margin-left: -6px;
    border-radius: 0px 6px 6px 0px;
}

/* Services */
.services{
    padding: 65px 0;
    margin-top: 105px;
    background: #FFF;
}

.services__header{
    text-align: center;
}

.services__subtitle{
    margin: 18px auto 0;
    width: 468px;
    color: #575F66;
}

.services__content{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__image img{
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__item{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0 19px;
    width: 470px;
    height: 128px;
    color: #10375C;
    background: #FFF;
    border-radius: 10px;
    padding: 21px 0 20px 22px;
}

.services__item:hover{
    color: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.services__item:hover .services__item-icon{
    background: #2E80CE;
}

.services__item-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EFF6FD;
}

.services__item-title{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.services__item-desc{
    margin-top: 8px;
    color: #575F66;
}

.services .cta-btn{
    margin-top: 55px;
}

/* Features */
.features{
    margin-top: 105px;
    padding: 100px 0;
    background: #F6FBFF;
}

.features__desc{
    color: #575F66;
    width: 468px;
    margin-top: 18px;
}

.features__list{
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.features__item{
    width: calc((100% / 3) - 30px);
    background: #EAF6FF;
    padding: 16px;
    border-radius: 4px;
}

.features__item:hover{
    background: #2E80CE;
    transform: translateY(-16px);
    cursor: pointer;
}

.features__item:hover a{
    color: #2E80CE;
}

.features__item-body{
    background: #FFF;
    border-radius: 4px;
    padding: 43px 42px;
}

.features__item-title{
    margin-top: 8px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.features__item-desc{
    margin-top: 28px;
    color: #575F66;
}

.features__item-link{
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* Promo */
.promo{
    padding: 65px 0;
    margin-top: 105px;
    background: #FFF;
}

.promo__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__images{
    position: relative;
    width: 49%;
    height: 491px;
}

.promo__img{
    object-fit: cover;
    border-radius: 6px;
}

.promo__img:first-child{
    width: 512px;
    height: 370px;
}

.promo__img:last-child{
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
    height: 370px;
}

.promo__content{
    width: 40%;
}

.promo__title{
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -0.01em;
}

.promo__desc{
    color: #575F66;
    margin-top: 18px;
}

.promo__btn{
    margin-top: 38px;
}

/* Virtual Dentist */
.virtual-dentist{
    background: #FFF;
    padding: 65px 0;
    margin-top: 105px;
}

.virtual-dentist__top{
    text-align: center;
}

.virtual-dentist__btn{
    margin-top: 38px;
}

.virtual-dentist__list{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.virtual-dentist__item{
    width: 23%;
    text-align: center;
}

.virtual-dentist__img{
    display: flex;
    align-items: end;
    width: 100%;
    height: 318px;
    border-radius: 6px;
    background: #EAF6FF;
}

.virtual-dentist__img img{
    width: 100%;
    height: 290px;
}

.virtual-dentist__name{
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.virtual-dentist__info{
    color: #575F66;
    line-height: 1.86; /* 185.714% */
}

.controls{
    display: flex;
    gap: 0 18px;
    color: #575F66;
    margin-top: 38px;
}

.chevron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid currentColor;
    background: #FFF;
}

.chevron:first-child{
    margin-left: auto;
}

.chevron:last-child{
    margin-right: auto;
}

.chevron:hover{
    background: #2E80CE;
    color: #FFF;
    border: 1px solid #2E80CE;
    cursor: pointer;
}

/* App Promo */
.app-promo{
    margin-top: 105px;
    padding: 65px 0;
}

.app-promo__body{
    position: relative;
    display: flex;
    align-items: center;
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;
}

.app-promo__img{
    position: absolute;
    bottom: 0;
    left: 70px;
}

.app-promo__content{
    width: 50%;
    margin-left: 514px;
}

.app-promo__title{
    color: #FFF !important;
    width: 489px;
    letter-spacing: -0.01rem;
}

.app-promo__desc{
    margin-top: 18px;
    color: #FFF !important;
}

.app-promo__stores{
    margin-top: 38px;
    display: flex;
    gap: 0 28px;
}